/* Homepage background */
.homepage {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #00dff8 5%, #5d1a1a 50%);
    min-height: 100vh;
    padding: 20px;
    color: #fffefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.homepage h1 {
    color: #fffefe;
}

/* Stylish IP Display */
.ip-display {
    font-size: 1.5em;
    font-weight: bold;
    color: #f4f4f4;
    background: linear-gradient(90deg, #1900ff 0%, #fc0000 100%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 20px;
    transition: transform 0.8s;
}

.ip-display:hover {
    transform: scale(1.1);  /* Slight zoom effect on hover */
}
